body{

  margin:0 ;
  font-family:Roboto,sans-serif;
  background-color: f9f9f9;

}       
header {
    
  background-color:#303a57 ;
  color:white ;
  text-align: center;
  padding:1px ;

}
nav {
   
  background-color:#958b80 ;
  color: #861010 ;
  text-align: center;
  padding:  9px;

}
nav a{
  
  color: white;
  text-decoration: none;
  margin: 0 90px;
  font-weight: bold;
}






   section {
    display: flex; /* activa flexbox */
    justify-content: space-between; 
    gap: 11px;        /* espacio uniforme */
    padding: 16px;
    flex-wrap: wrap; /* permite que los elementos bajen a otra fila */
}




.izquierda,
     .isquierdo,
     .derecha {
      padding: 18px;
      border-radius: 7px;
      box-sizing: border-box;   }


      .izquierda{
        flex:1; 
        background-color: #f29220;
      }

        .centro{
            flex:2; 
        background-color: #d6d6d6;
        box-shadow: 0 13px 4px #ffffff; /* agragar una sombra*/
      }

        .derecha{
            flex:1;
        background-color: #f29220;
       }



iframe {
   width: 100%;
   height: 900px;
   border: none;
   border-radius: 8px;
}

img {
   width: 100%;
   height: 300px;
   max-width:100%;
   height:auto;
}

footer {
 background-color: #303a57;
 color: white;
 text-align: center;
 padding: 10px;
 position: relative;
 bottom: 0;
 width: 100%;
}

@media (max-width: 768px) {    /* llamaa aresponsible medida de celular se aplica a izq. dere. centr. */

      .izquierda,

      .centro,

      .derecha {

        flex: 1 1 100%; /* Cada sección ocupa el 100% del ancho */

        margin-bottom: 5px; /* Espaciado entre secciones apiladas */

      }